[Unit]
Description=SwissRPG Bot Backup
After=network.target

[Service]
Type=oneshot
User=daniel
ExecStart=/usr/local/bin/aws s3 cp /var/lib/redis/appendonly.aof s3://qd2shp96ohk3mfyq
ExecStart=/usr/local/bin/aws s3 cp /var/lib/redis/dump.rdb s3://qd2shp96ohk3mfyq
ExecStart=/bin/bash -c 'BACKUP_FILENAME="${HOME}/postgresql_bot.pgdump"; pg_dump -Fc bot | ( umask u=rw,g=,o=; cat > "${BACKUP_FILENAME}"; ); /usr/local/bin/aws s3 cp "${BACKUP_FILENAME}" s3://qd2shp96ohk3mfyq; rm "${BACKUP_FILENAME}"'