[Unit]
Description=SwissRPG Bot
Requires=network-online.target redis.service postgresql.service
After=network.target network-online.target redis.service postgresql.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=bot
WorkingDirectory=/home/bot
ExecStart=/home/bot/run.sh

[Install]
WantedBy=multi-user.target