[Unit]
Description=SwissRPG Test Bot
Requires=network-online.target redis.service postgresql.service
After=network.target network-online.target redis.service postgresql.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=bottest
WorkingDirectory=/home/bottest
ExecStart=/home/bottest/runtest.sh

[Install]
WantedBy=multi-user.target