#!/bin/sh
export DISCORD_TOKEN=
export MEETUP_CLIENT_ID=
export MEETUP_CLIENT_SECRET=
export STRIPE_CLIENT_SECRET=
export STRIPE_WEBHOOK_SIGNING_SECRET=
# Hyperion's API key that allows webhooks to be called by e.g. Gravity Forms
export API_KEY=
# Gravity forms API keys are not used at the moment
#export GRAVITY_FORMS_API_KEY=
#export GRAVITY_FORMS_API_SECRET=
export ASANA_PERSONAL_ACCESS_TOKEN=