#!/bin/sh
export DISCORD_TOKEN=
export DISCORD_APPLICATION_ID=
export MEETUP_CLIENT_ID=
export MEETUP_CLIENT_SECRET=
export STRIPE_CLIENT_SECRET=
export STRIPE_WEBHOOK_SIGNING_SECRET=
export API_KEY=
export DATABASE_URL=