{% extends "base.html" %}

{% block title %}SwissRPG — Schedule a session{% endblock %}

{% block content %}
<div id="main">
    <h2>Success!</h2>
    <p><strong class="title">{{ title }}</strong></p>
    <h3>Important notes:</h3>
    <ul>
        <li>Please check that your meetup event looks correct: <a href="{{ link }}">{{ link }}</a></li>
        <li><strong style="color: #ff1744">Please don't click the "Announce" button.</strong></li>
        <li>If you plan to use a SwissRPG venue, please inform organisers so they can reserve it for you.</li>
        {% if closed_rsvps %}
        {% else %}
        <li>Meetup RSVPs for this event are currently <strong>open</strong>.</li>
        {% endif %}
        {% match transferred_all_rsvps %}
        {% when Some with (true) %}
        <li>All participants from the last session were added to the new event.</li>
        {% when Some with (false) %}
        <li><strong>Not all participants</strong> from the last session could be added to the new event.</li>
        {% when None %}
        <li>We will announce your new session for players to join shortly.</li>
        {% endmatch %}
    </ul>
</div>
{% endblock %}