{% extends "base.html" %}

{% block title %}SwissRPG — Schedule a session{% endblock %}

{% block content %}
<div id="main">
    <h2>Schedule your next Game Session</h2>
    <p>
        Previous Session:<br>
        <a href="{{ link }}">{{ title }}</a>
    </p>
    <h3>Details of the next session</h3>
    <p>
        <form method="post" name="scheduleSessionForm" autocomplete="off">
            Date:<br>
            <select name="day" autocomplete="off">
                {% for i in 1..=31 %}
                <option value="{{ i }}" {% if day == i %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
            <select name="month" autocomplete="off">
                <option value="1" {% if month == 1 %}selected{% endif %}>Jan</option>
                <option value="2" {% if month == 2 %}selected{% endif %}>Feb</option>
                <option value="3" {% if month == 3 %}selected{% endif %}>Mar</option>
                <option value="4" {% if month == 4 %}selected{% endif %}>Apr</option>
                <option value="5" {% if month == 5 %}selected{% endif %}>May</option>
                <option value="6" {% if month == 6 %}selected{% endif %}>Jun</option>
                <option value="7" {% if month == 7 %}selected{% endif %}>Jul</option>
                <option value="8" {% if month == 8 %}selected{% endif %}>Aug</option>
                <option value="9" {% if month == 9 %}selected{% endif %}>Sep</option>
                <option value="10" {% if month == 10 %}selected{% endif %}>Oct</option>
                <option value="11" {% if month == 11 %}selected{% endif %}>Nov</option>
                <option value="12" {% if month == 12 %}selected{% endif %}>Dec</option>
            </select>
            <select name="year" autocomplete="off">
                {% for y in selectable_years %}
                <option value="{{ y }}" {% if year|isequal(y) %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
            <br>
            Time:<br>
            <select name="hour" autocomplete="off">
                {% for i in 0..=23 %}
                <option value="{{ i }}" {% if hour == i %}selected{% endif %}>{{ format!("{:02}", i) }}</option>
                {% endfor %}
            </select>
            :
            <select name="minute" autocomplete="off">
                {% for i in 0..=59 %}
                <option value="{{ i }}" {% if minute == i %}selected{% endif %}>{{ format!("{:02}", i) }}</option>
                {% endfor %}
            </select>
            <br>
            Duration:<br>
            <select name="duration" autocomplete="off">
                {% for i in [30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330, 360, 390, 420, 450, 480, 510, 540, 570, 600, 630, 660, 690, 720] %}
                <option value="{{ i }}" {% if duration|isequal(i) %}selected{% endif %}>
                    {{ i|format_minutes_to_hhmm }}</option>
                {% endfor %}
            </select>
            <br>
            <input type="checkbox" name="transfer_rsvps" id="transfer_rsvps_checkbox" value="yes" autocomplete="off"
                checked>
            <label for="transfer_rsvps_checkbox">Add the players from the last session automatically</label>
            <button type="submit">Schedule</button>
        </form>
    </p>
</div>
{% endblock %}