* {
    /* Make the box model sane */
    box-sizing: border-box;
}

html {
    padding: 0;
    height: 100%;
}

body {
    background-color: #2F3136;
    color: #EEEEEE;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

#logo img {
    max-width: 10em;
}

#main, #privacy {
    margin-top: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #36393F;
    border-radius: 3px;
    max-width: 35em;
    color: #DDDDDD;
}

a {
    color: #DDDDDD;
}

#main a {
    width: 100%;
}

h2:first-child {
    margin-top: 0;
}

a.button {
    display: inline-block;
    background-color: seagreen;
    padding-top: 0.5em;
    padding-bottom: 0.6em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: white;
    text-decoration: none;
    border-radius: 1px;
    text-align: center;
}